/* ------------ Fonts ------------ */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;700&display=swap');


/* ------------ ESTILOS GENERALES ------------ */
html {
    box-sizing: border-box;
    font-size: 14px;
    height: 100%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    height: 100%;
    background-color: black;
    position: relative;
}
.done {
    text-decoration: line-through;
}

/* ------------ CONTENEDOR ------------ */
.contenedor{
    position: relative;
    z-index: 10;
    width: 100%;
    max-height: 800px;
    height: 100vh;
    padding: 0 10px 5px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    background-color: #297F87;
    border: 1px solid #F6D167;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    overflow: hidden;
}
header,
div.pantalla,
ul,
div.content-btn{
    width: 100%;
}
@media (min-width: 768px) {
    .contenedor{
        max-height: 600px;
    }
}

/* ------------ header ------------ */
header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
h1{
    width: 100%;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 1px #000;
    border-bottom: 1px solid #fff;
}

/* ------------ Pantalla ------------ */
.pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
}

#userInput {
    display: block;
    width: 60%;
    height: 35px;
    font-size: 1.3rem;
    padding-left: 5px;
    border-color: #FFF7AE;
    color: rgb(24, 22, 22);
}
#userInput:focus {
    outline: none;
    color: rgb(24, 22, 22);
}
#enter {
    display: block;
    margin-left: 5px;
    cursor: pointer;
    width: 10%;
    height: 35px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #5c5a5a;
    background-color: #FFF7AE;
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    border: 2px solid #F6D167;
}

#enter:active{
    color: #8ec5fc;
    border-color: #8ec5fc;
}
/* ------------ Cuerpo de la Lista ------------ */
#content-list {
    list-style: none;
    max-height: 415px;
    height: 70%;
    margin-bottom: 5px;
    padding: 20px 10px 0 10px;
    text-align: left;
    background-color: #FFF7AE;
    border-top: 1px solid #F6D167;
    border-bottom: 1px solid #F6D167;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
}

li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F6D167;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checkbox{
    margin-right: 15px;
    display: inline-block;
    transform: scale(1.7);
    cursor: pointer;
    position: absolute;
    left: 5px;
} 

.text {
    color: #000;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: inherit;
    text-align: left;
    display: inline-block;
    width: 80%;
}

.btn-del{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    position: absolute;
    left: 88%;
    text-transform: uppercase;
    background-color: rgb(223, 41, 41);
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(223, 41, 41);
    border-radius: 50%;
}
.btn-del:active{
    background-color: rgb(168, 5, 5);
}
/* ------------  btn clear ------------ */
.content-btn {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-btn button, .modal button{
    padding: 5px 10px;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
}

#clear, .modal--btn-cancelar {
    margin-right: 10px;
    color: #F6D167;
    background-color: rgba(223, 46, 46);
    border: 2px solid #F6D167;
}
#clearDone, .modal--btn-confirmar {
    color: #F6D167;
    background-color: rgb(20, 182, 114);
    border: 2px solid #F6D167;
}
#clear:active , .modal--btn-cancelar:active {
    background-color: rgba(223, 46, 46, .6);
}
#clearDone:active, .modal--btn-confirmar:active {
    background-color: rgb(20, 182, 114, .6);

}
/* ------------ Desktop y tablet ------------ */
@media (min-width: 500px) { 
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor{
        width: 400px;
        /* height: 85vh; */
        /* max-height: 800px;   */
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0 0 5px #000;
    }
}